#page-title {
    text-align: center;
}

#picture-container {
    width:  400px;
/*    height: 400px;*/
    margin: 0 auto;
}

#image {
    width: 100%;
    border:  2px solid red;
    border-radius:  5px;
}

#picture-css {
    background-image: url(../images/image1.png);
    width: 923px;
    height:  428px;
    margin:  0 auto;
}

#hovers {
    width:  200px;
    height:  200px;
    border: 1px solid black;
    background-image: url(../images/image1.png);
    background-size:  100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#hovers h2 {
    text-align:  center;
}

#hovers:hover {
/*    background-color:  black;*/
    border: 1px solid red;
    color:  white;
    opacity: 1;
}