#page-title {
    text-align: center;
}

#picture-container {
    width:  400px;
/*    height: 400px;*/
    margin: 0 auto;
}

#image {
    width: 100%;
    border:  2px solid red;
    border-radius:  5px;
}

#picture-css {
    background-image: url(../images/image1.png);
    width: 900px;
}