body{
	position: relative; 
    padding-top: 70px;	
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu","Helvetica Neue","Helvetica","Roboto","Arial","sans-serif" !important;
}

nav {
	opacity: 0.95;
}

.carousel {
    background: #FFFFFF;
    margin: 20px -30px 0px -30px;
    max-height: 720px;
    border-width: 0px !important;
}

.carousel .item img{
    margin: 0 auto; 
}

.carousel-caption {
	background-color: black;
	/*dorobit*/
}

#about img{
	max-height: 250px;
	max-width: 250px;
}

