/*

p {
    color: red;
    font-weight: bold;
    font-size: 24px;
}

body {
    background: black;
}

p {
    color: red;
}

h1 {
    color: green;
}
*/

p, h1, h4 {
    color: red;
}

div p {
    color: blue;
}

#first-paragraph {
    color: yellow;
}

.first-paragraph {
    color: purple;
}