.page-header {
  background-color: #5bc0ee;
  color: #FFFFFF;
  padding: 15px;
  margin: 0px;
  border-radius: 4px;
}

body {
  margin-top: 20px;
}

.page-header h4 {
  font-style: italic;
  text-align: center;
}

.thumbnail {
  max-width: 830px;
}

.well-update {
  margin-top: -20px;
  background: #5bc0ee;
  color: #FFFFFF;
}
